{% extends config.SEARCH_UI_BASE_TEMPLATE %}

{%- block css %}
    {{ super() }}
    {{ webpack['vendor.css'] }}
{%- endblock css %}


{%- block javascript %}
  {{ super() }}
  {{ webpack['react_searchkit_search_ui_app.js'] }}
  <script type="text/javascript">window.renderReact("react-searchkit");</script>
{%- endblock javascript %}


{%- block page_body %}
<div id="react-searchkit">
<!--  <script type="application/javascript" src="{{ url_for('static', filename='js/ResultsItemOverride.js') }}"></script>-->
</div>
{%- endblock page_body -%}
